aiohttp
aiosignal
altair
appdirs
apturl
argon2-cffi
async-timeout
attrs
automodel
Babel
backcall
backoff
bcrypt
beautifulsoup4
beniget
bleach
blinker
Brlapi
Brotli
cachetools
certifi
cffi
chardet
charset-normalizer
click
cmake
cohere
colorama
command-not-found
cryptography
cupshelpers
cycler
dataclasses-json
dbus-python
debugpy
decorator
defer
defusedxml
distro
distro-info
duckdb
duplicity
entrypoints
fasteners
filelock
fonttools
frozenlist
fs
fsspec
future
gast
gitdb
GitPython
graphviz
greenlet
h11
html5lib
httplib2
httptools
huggingface-hub
idna
importlib-metadata
ipykernel
ipython
ipython_genutils
ipywidgets
jedi
jeepney
Jinja2
joblib
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
keyring
kiwisolver
langchain
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
lit
lockfile
louis
lxml
lz4
macaroonbakery
Mako
markdown-it-py
MarkupSafe
marshmallow
marshmallow-enum
matplotlib
matplotlib-inline
mdurl
monotonic
more-itertools
mpmath
multidict
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
netifaces
networkx
nltk
notebook
numexpr
numpy
nvidia-cublas-cu11
nvidia-cuda-cupti-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-nccl-cu11
nvidia-nvtx-cu11
oauthlib
olefile
openai
openapi-schema-pydantic
packaging
pandas
pandocfilters
paramiko
parso
pexpect
pickleshare
Pillow
plumbum
ply
posthog
prometheus-client
prompt-toolkit
protobuf
ptyprocess
py
pyarrow
pycairo
pycparser
pycryptodome
pycups
pydantic
pydeck
Pygments
PyGObject
PyJWT
pymacaroons
Pympler
PyNaCl
pyparsing
pypdf
pyRFC3339
pyrsistent
python-apt
python-dateutil
python-debian
python-dotenv
pythran
pytz
pyxdg
PyYAML
pyzmq
regex
reportlab
requests
rich
rpyc
scikit-learn
scipy
SecretStorage
Send2Trash
sentencepiece
six
smmap
sniffio
soupsieve
SQLAlchemy
streamlit
sympy
systemd-python
tenacity
terminado
testpath
threadpoolctl
tokenizers
toml
toolz
tornado
tqdm
traitlets
transformers
typing-inspect
typing_extensions
tzdata
tzlocal
ubuntu-advantage-tools
ubuntu-drivers-common
ufoLib2
ufw
unattended-upgrades
unicodedata2
urllib3
usb-creator
uvicorn
uvloop
validators
wadllib
watchdog
wcwidth
webencodings
websockets
widgetsnbextension
xdg
xkit
yarl
zipp
zstandard
